.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.table {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  & > table {
    width: 100%;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  width: 40vw;
}
