.root {
  height: 100%;
  overflow-y: auto;
  z-index: 9999;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 35vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  border-bottom: 1px solid var(--g-color-line-generic);
  padding-bottom: 16px;
}

.statusGroup {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.editButtons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
