{
    "extends": [
        "plugin:@next/next/recommended",
        "next/core-web-vitals",
        "next/typescript",
        "next",
        "prettier",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "root": true,
    "env": {
        "node": true,
        "jest": true
    },
    "ignorePatterns": [
        "out",
        "public/static"
    ]
}