.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
