@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.g-root_theme_light {
  --g-border-radius-xs: 10px;
  --g-border-radius-s: 12px;
  --g-border-radius-m: 14px;
  --g-border-radius-l: 18px;
  --g-border-radius-xl: 22px;

  --g-font-family-sans: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --g-font-family-monospace:
    'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', 'Liberation Mono',
    'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;

  --g-color-private-brand-50: rgba(223, 139, 22, 0.1);
  --g-color-private-brand-100: rgba(223, 139, 22, 0.15);
  --g-color-private-brand-150: rgba(223, 139, 22, 0.2);
  --g-color-private-brand-200: rgba(223, 139, 22, 0.3);
  --g-color-private-brand-250: rgba(223, 139, 22, 0.4);
  --g-color-private-brand-300: rgba(223, 139, 22, 0.5);
  --g-color-private-brand-350: rgba(223, 139, 22, 0.6);
  --g-color-private-brand-400: rgba(223, 139, 22, 0.7);
  --g-color-private-brand-450: rgba(223, 139, 22, 0.8);
  --g-color-private-brand-500: rgba(223, 139, 22, 0.9);
  --g-color-private-brand-550-solid: rgb(223, 139, 22);
  --g-color-private-brand-1000-solid: rgb(62, 46, 32);
  --g-color-private-brand-950-solid: rgb(72, 51, 32);
  --g-color-private-brand-900-solid: rgb(91, 62, 30);
  --g-color-private-brand-850-solid: rgb(110, 73, 29);
  --g-color-private-brand-800-solid: rgb(129, 84, 28);
  --g-color-private-brand-750-solid: rgb(147, 95, 27);
  --g-color-private-brand-700-solid: rgb(166, 106, 26);
  --g-color-private-brand-650-solid: rgb(185, 117, 24);
  --g-color-private-brand-600-solid: rgb(204, 128, 23);
  --g-color-private-brand-500-solid: rgb(226, 151, 45);
  --g-color-private-brand-450-solid: rgb(229, 162, 69);
  --g-color-private-brand-400-solid: rgb(233, 174, 92);
  --g-color-private-brand-350-solid: rgb(236, 185, 115);
  --g-color-private-brand-300-solid: rgb(239, 197, 139);
  --g-color-private-brand-250-solid: rgb(242, 209, 162);
  --g-color-private-brand-200-solid: rgb(245, 220, 185);
  --g-color-private-brand-150-solid: rgb(249, 232, 208);
  --g-color-private-brand-100-solid: rgb(250, 238, 220);
  --g-color-private-brand-50-solid: rgb(252, 243, 232);

  --g-color-base-brand: #df8b16;
  --g-color-base-background: rgb(255, 255, 255);
  --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
  --g-color-base-selection: var(--g-color-private-brand-200);
  --g-color-base-selection-hover: var(--g-color-private-brand-300);
  --g-color-line-brand: var(--g-color-private-brand-600-solid);
  --g-color-text-brand: var(--g-color-private-brand-700-solid);
  --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
  --g-color-text-brand-contrast: rgb(255, 255, 255);
  --g-color-text-link: var(--g-color-private-brand-600-solid);
  --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
  --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
  --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
}

.g-root_theme_dark {
  --g-border-radius-xs: 10px;
  --g-border-radius-s: 12px;
  --g-border-radius-m: 14px;
  --g-border-radius-l: 18px;
  --g-border-radius-xl: 22px;

  --g-font-family-sans: 'Inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --g-font-family-monospace:
    'Roboto Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', 'Liberation Mono',
    'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;

  --g-color-private-brand-50: rgba(255, 222, 5, 0.1);
  --g-color-private-brand-100: rgba(255, 222, 5, 0.15);
  --g-color-private-brand-150: rgba(255, 222, 5, 0.2);
  --g-color-private-brand-200: rgba(255, 222, 5, 0.3);
  --g-color-private-brand-250: rgba(255, 222, 5, 0.4);
  --g-color-private-brand-300: rgba(255, 222, 5, 0.5);
  --g-color-private-brand-350: rgba(255, 222, 5, 0.6);
  --g-color-private-brand-400: rgba(255, 222, 5, 0.7);
  --g-color-private-brand-450: rgba(255, 222, 5, 0.8);
  --g-color-private-brand-500: rgba(255, 222, 5, 0.9);
  --g-color-private-brand-550-solid: rgb(255, 222, 5);
  --g-color-private-brand-1000-solid: rgb(255, 250, 218);
  --g-color-private-brand-950-solid: rgb(255, 248, 205);
  --g-color-private-brand-900-solid: rgb(255, 245, 180);
  --g-color-private-brand-850-solid: rgb(255, 242, 155);
  --g-color-private-brand-800-solid: rgb(255, 239, 130);
  --g-color-private-brand-750-solid: rgb(255, 235, 105);
  --g-color-private-brand-700-solid: rgb(255, 232, 80);
  --g-color-private-brand-650-solid: rgb(255, 229, 55);
  --g-color-private-brand-600-solid: rgb(255, 225, 30);
  --g-color-private-brand-500-solid: rgb(233, 203, 8);
  --g-color-private-brand-450-solid: rgb(211, 183, 11);
  --g-color-private-brand-400-solid: rgb(189, 164, 14);
  --g-color-private-brand-350-solid: rgb(167, 145, 17);
  --g-color-private-brand-300-solid: rgb(145, 126, 20);
  --g-color-private-brand-250-solid: rgb(122, 106, 22);
  --g-color-private-brand-200-solid: rgb(100, 87, 25);
  --g-color-private-brand-150-solid: rgb(78, 68, 28);
  --g-color-private-brand-100-solid: rgb(67, 58, 30);
  --g-color-private-brand-50-solid: rgb(56, 48, 31);

  --g-color-base-brand: #ffde05;
  --g-color-base-background: rgb(34, 29, 34);
  --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
  --g-color-base-selection: var(--g-color-private-brand-150);
  --g-color-base-selection-hover: var(--g-color-private-brand-200);
  --g-color-line-brand: var(--g-color-private-brand-600-solid);
  --g-color-text-brand: var(--g-color-private-brand-600-solid);
  --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
  --g-color-text-brand-contrast: rgba(0, 0, 0, 0.9);
  --g-color-text-link: var(--g-color-private-brand-550-solid);
  --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
  --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
  --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
}
