@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.g-root_theme_light {
  --g-font-family-sans:
    "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --g-font-family-monospace:
    "Roboto Mono", "Menlo", "Monaco", "Consolas", "Ubuntu Mono",
    "Liberation Mono", "DejaVu Sans Mono", "Courier New", "Courier", monospace;

  --g-color-private-brand-50: rgba(252, 163, 17, 0.1);
  --g-color-private-brand-100: rgba(252, 163, 17, 0.15);
  --g-color-private-brand-150: rgba(252, 163, 17, 0.2);
  --g-color-private-brand-200: rgba(252, 163, 17, 0.3);
  --g-color-private-brand-250: rgba(252, 163, 17, 0.4);
  --g-color-private-brand-300: rgba(252, 163, 17, 0.5);
  --g-color-private-brand-350: rgba(252, 163, 17, 0.6);
  --g-color-private-brand-400: rgba(252, 163, 17, 0.7);
  --g-color-private-brand-450: rgba(252, 163, 17, 0.8);
  --g-color-private-brand-500: rgba(252, 163, 17, 0.9);
  --g-color-private-brand-550-solid: rgb(252, 163, 17);
  --g-color-private-brand-1000-solid: rgb(67, 49, 31);
  --g-color-private-brand-950-solid: rgb(78, 56, 31);
  --g-color-private-brand-900-solid: rgb(99, 69, 29);
  --g-color-private-brand-850-solid: rgb(121, 83, 27);
  --g-color-private-brand-800-solid: rgb(143, 96, 26);
  --g-color-private-brand-750-solid: rgb(165, 109, 24);
  --g-color-private-brand-700-solid: rgb(187, 123, 22);
  --g-color-private-brand-650-solid: rgb(208, 136, 20);
  --g-color-private-brand-600-solid: rgb(230, 150, 19);
  --g-color-private-brand-500-solid: rgb(252, 172, 41);
  --g-color-private-brand-450-solid: rgb(253, 181, 65);
  --g-color-private-brand-400-solid: rgb(253, 191, 88);
  --g-color-private-brand-350-solid: rgb(253, 200, 112);
  --g-color-private-brand-300-solid: rgb(254, 209, 136);
  --g-color-private-brand-250-solid: rgb(254, 218, 160);
  --g-color-private-brand-200-solid: rgb(254, 227, 184);
  --g-color-private-brand-150-solid: rgb(254, 237, 207);
  --g-color-private-brand-100-solid: rgb(255, 241, 219);
  --g-color-private-brand-50-solid: rgb(255, 246, 231);

  --g-color-base-brand: #fca311;
  --g-color-base-background: rgb(255, 255, 255);
  --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
  --g-color-base-selection: var(--g-color-private-brand-200);
  --g-color-base-selection-hover: var(--g-color-private-brand-300);
  --g-color-line-brand: var(--g-color-private-brand-600-solid);
  --g-color-text-brand: var(--g-color-private-brand-700-solid);
  --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
  --g-color-text-brand-contrast: rgba(0, 0, 0, 0.85);
  --g-color-text-link: var(--g-color-private-brand-600-solid);
  --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
  --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
  --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);

  --gn-aside-header-decoration-collapsed-background-color: var(
    --g-color-private-brand-200-solid
  );
  --gn-aside-header-decoration-expanded-background-color: var(
    --g-color-private-brand-200-solid
  );
}

.g-root_theme_dark {
  --g-font-family-sans:
    "Inter", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --g-font-family-monospace:
    "Roboto Mono", "Menlo", "Monaco", "Consolas", "Ubuntu Mono",
    "Liberation Mono", "DejaVu Sans Mono", "Courier New", "Courier", monospace;

  --g-color-private-brand-50: rgba(237, 242, 244, 0.1);
  --g-color-private-brand-100: rgba(237, 242, 244, 0.15);
  --g-color-private-brand-150: rgba(237, 242, 244, 0.2);
  --g-color-private-brand-200: rgba(237, 242, 244, 0.3);
  --g-color-private-brand-250: rgba(237, 242, 244, 0.4);
  --g-color-private-brand-300: rgba(237, 242, 244, 0.5);
  --g-color-private-brand-350: rgba(237, 242, 244, 0.6);
  --g-color-private-brand-400: rgba(237, 242, 244, 0.7);
  --g-color-private-brand-450: rgba(237, 242, 244, 0.8);
  --g-color-private-brand-500: rgba(237, 242, 244, 0.9);
  --g-color-private-brand-550-solid: rgb(237, 242, 244);
  --g-color-private-brand-1000-solid: rgb(252, 253, 253);
  --g-color-private-brand-950-solid: rgb(251, 252, 253);
  --g-color-private-brand-900-solid: rgb(250, 251, 252);
  --g-color-private-brand-850-solid: rgb(248, 250, 251);
  --g-color-private-brand-800-solid: rgb(246, 249, 250);
  --g-color-private-brand-750-solid: rgb(244, 247, 248);
  --g-color-private-brand-700-solid: rgb(242, 246, 247);
  --g-color-private-brand-650-solid: rgb(241, 245, 246);
  --g-color-private-brand-600-solid: rgb(239, 243, 245);
  --g-color-private-brand-500-solid: rgb(217, 221, 223);
  --g-color-private-brand-450-solid: rgb(196, 199, 202);
  --g-color-private-brand-400-solid: rgb(176, 178, 181);
  --g-color-private-brand-350-solid: rgb(156, 157, 160);
  --g-color-private-brand-300-solid: rgb(136, 136, 139);
  --g-color-private-brand-250-solid: rgb(115, 114, 118);
  --g-color-private-brand-200-solid: rgb(95, 93, 97);
  --g-color-private-brand-150-solid: rgb(75, 72, 76);
  --g-color-private-brand-100-solid: rgb(64, 61, 66);
  --g-color-private-brand-50-solid: rgb(54, 50, 55);

  --g-color-base-brand: #edf2f4;
  --g-color-base-background: rgb(34, 29, 34);
  --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
  --g-color-base-selection: var(--g-color-private-brand-150);
  --g-color-base-selection-hover: var(--g-color-private-brand-200);
  --g-color-line-brand: var(--g-color-private-brand-600-solid);
  --g-color-text-brand: var(--g-color-private-brand-600-solid);
  --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
  --g-color-text-brand-contrast: rgba(0, 0, 0, 0.9);
  --g-color-text-link: var(--g-color-private-brand-550-solid);
  --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
  --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
  --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);

  --gn-aside-header-decoration-collapsed-background-color: var(
    --g-color-private-brand-200-solid
  );
  --gn-aside-header-decoration-expanded-background-color: var(
    --g-color-private-brand-200-solid
  );
}

.auth {
  &_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
  }

  &_logo {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_form {
    margin-bottom: var(--g-spacing-9);
  }

  &_header {
    margin: var(--g-spacing-9) 0;
    text-align: start;
  }

  &_select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: var(--g-spacing-3);

    & > button {
      width: 150px;
    }
  }
}
