.body {
  display: flex;
  flex-direction: column;
  width: 500px;

  margin-bottom: 16px;
}

.field {
  margin-top: 8px;
}

.field-wrapper {
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
}
